body{
   height: auto;
   min-height: 100vh;
}


.card {
   /* padding: 5px; */
   border: 1px solid gray;
   width: 25rem;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* shape */
   border-radius: 15px;
   box-shadow: 0 20px 20px rgba(0,0,0,0.3), 0px 0px 50px rgba(0,0,0,0.2);
}
.button{
   margin: 10px;
}

.view-one-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Items inside an order. */
.inlay {
   background: #eee;
   width: auto;
   margin: 15px;
}
#orders-container .card{
   width: 60rem;
   box-shadow: none /*0 0 20px rgba(0,0,0,0.3)*/;
   border: solid 0.7px #98DD9B;
   padding: 20px;
   margin: 25px 40px;
}

#orders-container .card:hover {
   box-shadow: 0 0 20px rgba(0,0,0,0.3);
}



#view-an-order .card{
   width: 60rem;
   box-shadow: none /*0 0 20px rgba(0,0,0,0.3)*/;
   border: solid 0.7px #98DD9B;
   padding: 20px;
   margin: 25px 40px;
}


/* Users - container*/
#users-container{
   flex-direction: row;
   align-items: center;
}

#cart-container{
   flex-direction: column-reverse;
   /* align-items: ; */
}


#users-container, #cart-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
#cart-container .card {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-evenly;
}

#cart-container .item-row{
   width: 100%;
}

#users-container .card, #cart-container .card {
      padding: 10px 0px;
}

#users-container button, #cart-container button{
   margin: 10px 5px;
   border-radius: 5px;
}


/*Products - container */

#products-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

#products-container::after {
   content: "";
   flex: auto;
}

#products-container .card {
   height: 100%;
   display: flex;
   justify-content: space-between;
   border-radius: none;
   box-shadow: none;
}

#products-container .card:hover {
   box-shadow: 0 20px 20px rgba(0,0,0,0.3), 0px 0px 50px rgba(0,0,0,0.2);
}

#products-container .card > img, .view-one-container .card > img {
   width: 100%;
   /* margin: 10px 0px; */
   justify-content: center;
   align-items: center;
   border-radius: 15px 15px 0 0;
}

.product-details{
   text-align: center;
   padding: 5px;
}