* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #F8FCF7;
}

header,
main,
footer {
  padding: 1rem 2.5rem;
}

header,
footer {
  background-color: #24581D;
  color: #C2E3AB;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  background-image: linear-gradient(to bottom right, #24581D, #3C9933);

}
header {
   display: flex;
  justify-content: space-between;
}
header h1{
   padding: 10px;
}
header a {
   color: #C2E3AB;
   text-decoration: none;
}
footer {
  font-size: 1.5em;
  box-shadow: 0px 0 20px rgba(0,0,0,0.2);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li {
  padding: 0 1.5rem;
  font-size: calc(100% + 0.7vw);;
  overflow-wrap: break-word;
  text-align: center;
}

.title {
  padding: 15rem 2rem;
}

.text-align-center {
  text-align: center;
}

.form, #edit-user-form, #edit-product-form {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 65rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.form-group {
  height: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 1rem;
}

.second-column {
  display: grid;
  grid-column: 2;
}

input {
  padding: 0.5rem;
  font-size: 1.1em;
}

label {
  justify-self: right;
  align-self: center;
  font-size: 1.2em;
  text-align: right;
}

button {
  background-color: #2E7E2A;
  color: white;
  padding: 1.5rem 2rem;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
  font-size: 1.1em;
}

button:hover {
  opacity: 0.8;
}

p {
   margin: 5px;
}

.background-lightgreen {
  background-color: lightgreen;
}

.background-red {
  background-color: red;
}

.item-row{
   margin: 22px 10px;
}

.front-page-content{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 20rem;
   width: 70rem;
}

.hidden{
  display: none;
}

#add-new-product-container{
   display: flex;
   flex-direction: row-reverse;
}


